<form (ngSubmit)="buscarPokemon()">
  <div>
    <label>inserte el nombre del Pokémon</label>
    <input
      type="text"
      [ngModel]="nombrePokemoninput()"
      (ngModelChange)="nombrePokemoninput.set($event)"
      name="nombrePokemon"
      placeholder="EJ: pikachu, charmander, bulbasaur"
      required
    />
  </div>
  <div>
    <button type="submit" [disabled]="cargando()">Buscar</button>
  </div>
</form>

@if (mensajeError()) {
  <p class="error">{{ mensajeError() }}</p>
}

@if (pokemon(); as poke) {
  <div appResaltarTarjeta colorBorde="#0000FF" class="card-pokemon">
    <h3>{{ poke.name }} (#{{ poke.id }})</h3>
    <img [src]="poke.image" [alt]="poke.name" />

    <p>
      <span
        class="badge-tipo"
        [ngStyle]="{
          'background-color': poke.type === 'fire' ? '#ff0000' :
            poke.type === 'water' ? '#0000FF' :
            poke.type === 'grass' ? '#008000' :
            '#cccccc'
        }"
      >
        {{ poke.type }}
      </span>
    </p>

    <p>exp base: <strong>{{ poke.baseExperience }}</strong></p>
    <button class="btn-guardar" (click)="guardarEnEquipo()">
      almacenar en Inventario
    </button>
  </div>
}