<form (ngSubmit)="buscarPokemon()">
    <div>
        <label>inserte el nombre del Pokémon</label>
    <input
    type = "text"
    [ngModel]="nombrePokemoninput()"
    (ngModelChange)="nombrePokemoninput.set($event)"
    name="nombrePokemon"
    placeholder="EJ: pikachu, charmander, bulbasaur"
    required
    />
    </div>
    <div>
        <button type="submit"> Buscar </button>
    </div>
</form>

<div id="resultadoPokemon">

    @if(pokemon(); as p){

        <div>
            <h2>Nombre: {{ p.name }}</h2>
            <img [src]="p.image" [alt]="p.name" />
            <p><strong>Elemento: </strong>{{ p.type }}</p>
        </div>

    } @else if (mensajeError()){
        <p>{{ mensajeError() }}</p>
    }

</div>