<div class="form-container">
    <h2>Formulario de Registro</h2>
    <form id="FormularioRegistro" (ngSubmit)="guardarUsuario()">
        
        <!-- Nombres -->
        <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input 
                type="text" 
                id="nombres" 
                name="nombres" 
                placeholder="Ingresa tus nombres" 
                [ngModel]="nombre()" 
                (ngModelChange)="nombre.set($event)" 
                required>
        </div>

        <!-- Apellidos -->
        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input 
                type="text" 
                id="apellidos" 
                name="apellidos" 
                placeholder="Ingresa tus apellidos" 
                [ngModel]="apellido()" 
                (ngModelChange)="apellido.set($event)" 
                required>
        </div>

        <!-- Tipo de identificación -->
        <div class="form-group">
            <label for="tipo-id">Tipo de documento:</label>
            <select 
                id="tipo-id" 
                name="tipo-id" 
                [ngModel]="tipo_doc()" 
                (ngModelChange)="tipo_doc.set($event)" 
                required>
                <option value="" disabled>Seleccione una opción</option>
                <option value="CC">Cédula de ciudadanía</option>
                <option value="TI">Tarjeta de identidad</option>   
                <option value="PAS">Pasaporte</option>
                <option value="CE">Cédula de extranjería</option>
            </select>
        </div>

        <!-- Número de documento -->
        <div class="form-group">
            <label for="numero-doc">Número de documento:</label>
            <input 
                type="text" 
                id="numero-doc" 
                name="numero-doc" 
                placeholder="Ingresa tu número de documento" 
                [ngModel]="dni()" 
                (ngModelChange)="dni.set($event)" 
                required>
        </div>

        <!-- Fecha de nacimiento -->
        <div class="form-group">
            <label for="fecha-nacimiento">Fecha de nacimiento:</label>
            <input 
                type="date" 
                id="fecha-nacimiento" 
                name="fecha-nacimiento" 
                [ngModel]="fecha_nacimiento()" 
                (ngModelChange)="fecha_nacimiento.set($event)" 
                required>
        </div>

        <!-- Correo -->
        <div class="form-group">
            <label for="correo">Correo electrónico:</label>
            <input 
                type="email" 
                id="correo" 
                name="correo" 
                placeholder="ejemplo@correo.com" 
                [ngModel]="correo()" 
                (ngModelChange)="correo.set($event)" 
                required>
        </div>

        <!-- Check de tratamiento de datos -->
        <div class="terms-group">
            <input 
                type="checkbox" 
                id="terminos" 
                name="terminos" 
                [ngModel]="datos_personales()" 
                (ngModelChange)="datos_personales.set($event)" 
                required>
            <label for="terminos" class="terms-label">
                Acepto los términos y condiciones
                <br>
                <a href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=49981" target="_blank" rel="noopener noreferrer">Tratamiento de datos</a>
            </label>
        </div>

        <!-- Botón de enviar -->
        <button type="submit" class="btn-submit">Enviar formulario</button>
    </form>


    @if (ultimoUsuario()) {
        <div class="resultado-registro">
            <h3>Usuario Registrado</h3>
            <p><strong>Nombre:</strong> {{ ultimoUsuario()?.nombreCompleto }}</p>
            <p><strong>Documento:</strong> {{ ultimoUsuario()?.documento?.tipo }} {{ ultimoUsuario()?.documento?.numero }}</p>
            <p><strong>Correo:</strong> {{ ultimoUsuario()?.correo }}</p>
        </div>
    }
</div>